# --- Frontend (Next.js) ---
apps/frontend/.next/
apps/frontend/node_modules/
apps/frontend/.env.local
apps/frontend/__tests__/
apps/frontend/package-lock.json

# --- Backend (Python/FastAPI) ---
apps/backend/.venv/
apps/backend/.index_data/
apps/backend/docs/
apps/backend/memos/
apps/backend/tests/
apps/backend/.python-version
apps/backend/src/interfaces/dtos/__pycache__/
apps/backend/src/__pycache__/

# --- docker ---

docker/.env

# --- Editor/IDE cache ---
.idea/
*.swp
*.swo

# --- Node.js Global ---
node_modules/
.next/

# --- macOS system files ---
.DS_Store
apps/frontend/node_modules/
