[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
torch = "*"
faiss-cpu = "*"
sentence-transformers = "*"
pytest = "*"
httpx = "*"
pydantic-settings = "*"
pytz = ">=2024.0"
aiofiles = "*"

[dev-packages]

[requires]
python_version = "3.11"
