fastapi>=0.100.0
uvicorn[standard]>=0.22.0
python-multipart>=0.0.6

torch>=2.0.0
faiss-cpu>=1.7.2
sentence-transformers>=2.2.2

pytest>=7.4.0
httpx>=0.24.0

pydantic-settings>=2.0.0
pytz>=2024.0

aiofiles>=23.1.0
aiohttp>=3.8.5

elasticsearch==8.5.1
tenacity>=8.2.2

asyncio

